{{- if .Values.networkPolicy.enabled }}
---
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: {{ include "waf-gateway.fullname" . }}-allow-loki
spec:
  description: "Allow WAF components to communicate with Loki"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "waf-gateway.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  egress:
  - toEndpoints:
    - matchLabels:
        app: loki
    toPorts:
    - ports:
      - port: "3100"
        protocol: TCP
---
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: {{ include "waf-gateway.fullname" . }}-allow-envoy-ingress
spec:
  description: "Allow external traffic to Envoy"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "waf-gateway.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  ingress:
  - fromEndpoints:
    - matchLabels:
        reserved: host
  - fromEndpoints:
    - matchLabels:
        reserved: world
---
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: {{ include "waf-gateway.fullname" . }}-threat-analyzer-allow-k8s-api
spec:
  description: "Allow threat analyzer to communicate with Kubernetes API server"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "waf-gateway.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      component: threat-analyzer
  egress:
  - toEntities:
    - kube-apiserver
    toPorts:
    - ports:
      - port: "6443"
        protocol: TCP
---
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: {{ include "waf-gateway.fullname" . }}-threat-analyzer-allow-cilium-operator
spec:
  description: "Allow threat analyzer to communicate with Cilium operator"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "waf-gateway.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      component: threat-analyzer
  egress:
  - toEndpoints:
    - matchLabels:
        k8s:app: cilium-operator
    toPorts:
    - ports:
      - port: "9963"
        protocol: TCP
---
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: {{ include "waf-gateway.fullname" . }}-threat-analyzer-allow-loki
spec:
  description: "Allow threat analyzer to query Loki for logs"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "waf-gateway.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      component: threat-analyzer
  egress:
  - toEndpoints:
    - matchLabels:
        app: loki
    toPorts:
    - ports:
      - port: "3100"
        protocol: TCP
{{- end }}